vmdb/gems/pending/RcuWebService/rcu.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.kamino.netapp.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.kamino.netapp.com/" name="ApiImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.kamino.netapp.com/" schemaLocation="https://192.168.252.14:61921/rcu/api?xsd=1" />
</xsd:schema>
</types>
<message name="createClones">
<part name="parameters" element="tns:createClones" />
</message>
<message name="createClonesResponse">
<part name="parameters" element="tns:createClonesResponse" />
</message>
<message name="resizeDatastore">
<part name="parameters" element="tns:resizeDatastore" />
</message>
<message name="resizeDatastoreResponse">
<part name="parameters" element="tns:resizeDatastoreResponse" />
</message>
<message name="createDatastore">
<part name="parameters" element="tns:createDatastore" />
</message>
<message name="createDatastoreResponse">
<part name="parameters" element="tns:createDatastoreResponse" />
</message>
<message name="getMoref">
<part name="parameters" element="tns:getMoref" />
</message>
<message name="getMorefResponse">
<part name="parameters" element="tns:getMorefResponse" />
</message>
<message name="destroyDatastore">
<part name="parameters" element="tns:destroyDatastore" />
</message>
<message name="destroyDatastoreResponse">
<part name="parameters" element="tns:destroyDatastoreResponse" />
</message>
<message name="redeployVMs">
<part name="parameters" element="tns:redeployVMs" />
</message>
<message name="redeployVMsResponse">
<part name="parameters" element="tns:redeployVMsResponse" />
</message>
<message name="getFileOpOffloadStatus">
<part name="parameters" element="tns:getFileOpOffloadStatus" />
</message>
<message name="getFileOpOffloadStatusResponse">
<part name="parameters" element="tns:getFileOpOffloadStatusResponse" />
</message>
<message name="clearAllFinishedOpOffloadStatus">
<part name="parameters" element="tns:clearAllFinishedOpOffloadStatus" />
</message>
<message name="clearAllFinishedOpOffloadStatusResponse">
<part name="parameters" element="tns:clearAllFinishedOpOffloadStatusResponse" />
</message>
<message name="fileCloneOffload">
<part name="parameters" element="tns:fileCloneOffload" />
</message>
<message name="fileCloneOffloadResponse">
<part name="parameters" element="tns:fileCloneOffloadResponse" />
</message>
<message name="fileCopyOffload">
<part name="parameters" element="tns:fileCopyOffload" />
</message>
<message name="fileCopyOffloadResponse">
<part name="parameters" element="tns:fileCopyOffloadResponse" />
</message>
<message name="getVmFiles">
<part name="parameters" element="tns:getVmFiles" />
</message>
<message name="getVmFilesResponse">
<part name="parameters" element="tns:getVmFilesResponse" />
</message>
<message name="getVms">
<part name="parameters" element="tns:getVms" />
</message>
<message name="getVmsResponse">
<part name="parameters" element="tns:getVmsResponse" />
</message>
<portType name="Api">
<operation name="createClones">
<input message="tns:createClones" />
<output message="tns:createClonesResponse" />
</operation>
<operation name="resizeDatastore">
<input message="tns:resizeDatastore" />
<output message="tns:resizeDatastoreResponse" />
</operation>
<operation name="createDatastore">
<input message="tns:createDatastore" />
<output message="tns:createDatastoreResponse" />
</operation>
<operation name="getMoref">
<input message="tns:getMoref" />
<output message="tns:getMorefResponse" />
</operation>
<operation name="destroyDatastore">
<input message="tns:destroyDatastore" />
<output message="tns:destroyDatastoreResponse" />
</operation>
<operation name="redeployVMs">
<input message="tns:redeployVMs" />
<output message="tns:redeployVMsResponse" />
</operation>
<operation name="getFileOpOffloadStatus">
<input message="tns:getFileOpOffloadStatus" />
<output message="tns:getFileOpOffloadStatusResponse" />
</operation>
<operation name="clearAllFinishedOpOffloadStatus">
<input message="tns:clearAllFinishedOpOffloadStatus" />
<output message="tns:clearAllFinishedOpOffloadStatusResponse" />
</operation>
<operation name="fileCloneOffload">
<input message="tns:fileCloneOffload" />
<output message="tns:fileCloneOffloadResponse" />
</operation>
<operation name="fileCopyOffload">
<input message="tns:fileCopyOffload" />
<output message="tns:fileCopyOffloadResponse" />
</operation>
<operation name="getVmFiles">
<input message="tns:getVmFiles" />
<output message="tns:getVmFilesResponse" />
</operation>
<operation name="getVms">
<input message="tns:getVms" />
<output message="tns:getVmsResponse" />
</operation>
</portType>
<binding name="ApiImplPortBinding" type="tns:Api">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="createClones">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="resizeDatastore">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createDatastore">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMoref">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="destroyDatastore">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="redeployVMs">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getFileOpOffloadStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="clearAllFinishedOpOffloadStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="fileCloneOffload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="fileCopyOffload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVmFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getVms">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ApiImplService">
<port name="ApiImplPort" binding="tns:ApiImplPortBinding">
<soap:address location="https://192.168.252.14:61921/rcu/api" />
</port>
</service>
</definitions>